PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5433/mydatabase
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_NAME=mydatabase
DATABASE_HOST=localhost
DATABASE_PORT=5433

JWT_SECRET=pRGCzYn8byKBQoaAek109aZDf3xqUhlGia7uOLoCPwr
JWT_ACCESS_TOKEN_EXP=30d
JWT_REFRESH_TOKEN_EXP=1h

NODE_MAILER_HOST=sandbox.smtp.mailtrap.io
NODE_MAILER_PORT=2525
NODE_MAILER_USER=04c1f3dc47ee7b
NODE_MAILER_PASS=03ffee14e59857
